[submodule "snippets"]
	path = my-snippets
	url = git@github.com:sarumont/vim-snippets.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = untracked
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
	ignore = untracked
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
	ignore = untracked
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
	ignore = untracked
[submodule "bundle/indexedsearch"]
	path = bundle/indexedsearch
	url = git://github.com/henrik/vim-indexed-search.git
	ignore = untracked
[submodule "bundle/localrc"]
	path = bundle/localrc
	url = git://github.com/thinca/vim-localrc.git
	ignore = untracked
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/gundo"]
	path = bundle/gundo
	url = git://github.com/sjl/gundo.vim.git
[submodule "bundle/webapi-vim"]
	path = bundle/webapi-vim
	url = git://github.com/mattn/webapi-vim.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/vim-scripts/UltiSnips.git
[submodule "bundle/vim-taglist"]
	path = bundle/vim-taglist
	url = git@github.com:vim-scripts/taglist.vim.git
[submodule "bundle/vim-notes"]
	path = bundle/vim-notes
	url = git@github.com:xolox/vim-notes.git
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/ag"]
	path = bundle/ag
	url = https://github.com/rking/ag.vim
[submodule "bundle/ctrlp"]
	path = bundle/ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-qargs"]
	path = bundle/vim-qargs
	url = https://github.com/nelstrom/vim-qargs.git
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/vim-expand-region"]
	path = bundle/vim-expand-region
	url = https://github.com/terryma/vim-expand-region.git
[submodule "bundle/vim-tasklist"]
	path = bundle/vim-tasklist
	url = git@github.com:vim-scripts/TaskList.vim.git
[submodule "bundle/cSyntaxAfter"]
	path = bundle/cSyntaxAfter
	url = git@github.com:sarumont/cSyntaxAfter.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = https://github.com/xolox/vim-easytags.git
[submodule "bundle/vim-gitgutter"]
	path = bundle/vim-gitgutter
	url = git://github.com/airblade/vim-gitgutter.git
[submodule "bundle/closetag"]
	path = bundle/closetag
	url = git@github.com:vim-scripts/closetag.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = git@github.com:honza/vim-snippets.git
[submodule "bundle/vim-velocity"]
	path = bundle/vim-velocity
	url = https://github.com/lepture/vim-velocity.git
[submodule "bundle/vim-mustache-handlebars"]
	path = bundle/vim-mustache-handlebars
	url = https://github.com/mustache/vim-mustache-handlebars.git
[submodule "bundle/base16-vim"]
	path = bundle/base16-vim
	url = https://github.com/chriskempson/base16-vim.git
[submodule "bundle/typescript-vim"]
	path = bundle/typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
[submodule "bundle/onedark"]
	path = bundle/onedark
	url = https://github.com/joshdick/onedark.vim.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
