[submodule "snippets"]
	path = snippets
	url = git@github.com:sarumont/vim-snippets.git
	ignore = untracked
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = git://github.com/scrooloose/nerdtree.git
	ignore = untracked
[submodule "bundle/nerdcommenter"]
	path = bundle/nerdcommenter
	url = git://github.com/scrooloose/nerdcommenter.git
	ignore = untracked
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
	ignore = untracked
[submodule "bundle/vim-git"]
	path = bundle/vim-git
	url = git://github.com/tpope/vim-git.git
	ignore = untracked
[submodule "bundle/vim-markdown"]
	path = bundle/vim-markdown
	url = git://github.com/tpope/vim-markdown.git
	ignore = untracked
[submodule "bundle/vim-yankring"]
	path = bundle/vim-yankring
	url = git://github.com/chrismetcalf/vim-yankring.git
	ignore = untracked
[submodule "bundle/gist-vim"]
	path = bundle/gist-vim
	url = git://github.com/mattn/gist-vim.git
	ignore = untracked
[submodule "bundle/vimoutliner"]
	path = bundle/vimoutliner
	url = git://github.com/vimoutliner/vimoutliner.git
	ignore = untracked
[submodule "bundle/vim-colors-solarized"]
	path = bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
	ignore = untracked
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git://github.com/rygwdn/ultisnips.git
	ignore = untracked
[submodule "bundle/scratch"]
	path = bundle/scratch
	url = git://github.com/vim-scripts/scratch.vim.git
	ignore = untracked
[submodule "bundle/indexedsearch"]
	path = bundle/indexedsearch
	url = git://github.com/henrik/vim-indexed-search.git
	ignore = untracked
[submodule "bundle/localrc"]
	path = bundle/localrc
	url = git://github.com/thinca/vim-localrc.git
	ignore = untracked
[submodule "bundle/command-t"]
	path = bundle/command-t
	url = git://github.com/wincent/Command-T.git
	ignore = untracked
[submodule "bundle/vim-multiple-monitors"]
	path = bundle/vim-multiple-monitors
	url = git@github.com:sarumont/vim-multiple-monitors.git
[submodule "bundle/vim-surround"]
	path = bundle/vim-surround
	url = git://github.com/tpope/vim-surround.git
[submodule "bundle/matchit"]
	path = bundle/matchit
	url = git://github.com/vim-scripts/matchit.zip.git
	ignore = untracked
[submodule "bundle/vim-repeat"]
	path = bundle/vim-repeat
	url = git://github.com/tpope/vim-repeat.git
[submodule "bundle/zenburn"]
	path = bundle/zenburn
	url = git://github.com/vim-scripts/Zenburn.git
